* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100%;

  /* global 94%+ browsers support */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.posts {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  .container {
    width: 100%;
  }
}
